.header-block {
  background-image: url("/img/header/background.jpg");
  background-size: contain;
  padding: 20px 0 60px;
  position: relative;
  background-repeat: no-repeat;
  max-height: 732px;
}

.header-block::before {
  content: "";
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(47, 50, 75, 0.85);
}

.header-block-list {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding: 20px 200px 60px;
  z-index: 2;
}

.header-block-list-item-2 {
  display: flex;
  font-size: 23.85px;
  line-height: 27px;
  text-align: center;
  width: 208px;
  color: var(--color-white, #ffffff);
  margin-top: 1px;
}

.header-block-list-item-3 {
  display: none;
  background-size: contain;
  width: 30px;
  height: 30px;

}

.header-block-list-item__span {

  font-weight: 400;
  font-size: 16px;
  text-align: center;
  border-bottom: 1px solid;
}

.header-block-wrapper {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 990px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 55px 0 65px;
  z-index: 2;
}

.header-block-wrapper-title-h1 {
  font-weight: 900;
  font-size: 52px;
  line-height: 61px;
  text-align: center;
  color: var(--color-white-grey, rgba(255, 255, 255, 0.86));
  padding: 1px 3px 16.5px 0;
}

.header-block-wrapper-text {
  font-size: 22px;
  line-height: 31px;
  text-align: center;
  color: var(--color-grey-white, rgba(255, 255, 255, 0.75));
  padding: 16.5px 2px 45px 0;
}

.header-block-wrapper-text-2 {
  display: none;
  font-size: 22px;
  line-height: 31px;
  text-align: center;
  color: var(--color-grey-white, rgba(255, 255, 255, 0.75));
}

.header-block-wrapper-btn {
  width: 200px;
  height: 48px;
  padding: 12px 48px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  margin: 43px 3px 0 1px;
}

@media (max-width: 1024px) {
  .header-block {
    background-image: url("/img/header/1024.jpg");
    padding: 10px 0 35px;
  }

  .header-block-list {
    padding: 13px 30px 35px;
  }

  .header-block-list-item-1 {
    width: 60px;
    height: 60px;
  }

  .header-block-list-item-2 {
    display: flex;
    gap: 4px;
    font-size: 21px;
    line-height: 25px;
    padding: 0px 0px 0 22px;

  }

  .header-block-list-item__span {
    font-size: 13px;
    line-height: 26px;
    padding-bottom: 2px;
  }

  .header-block-wrapper-title-h1 {
    font-size: 40px;
    line-height: 47px;
    padding: 0 122px;
  }

  .header-block-wrapper {
    padding: 35px 0;
  }

  .header-block-wrapper-text {
    font-size: 18px;
    line-height: 25px;
    padding: 28.785px 118px 30px;
  }

  .header-block-wrapper-btn {
    width: 202px;
    padding: 12px 48px;
    margin-top: 25.785px;
  }
}

@media (max-width: 480px) {
  .header-block {
    background-image: url("/img/header/320.jpg");
    background-size: cover;
    padding: 7.5px 0 32.5px;
  }

  .header-block-list {
    padding: 7.5px 15px 32.5px;
  }

  .header-block-list-item-1 {
    width: 30px;
    height: 30px;
  }

  .header-block-list-item-2 {
    display: none;
  }

  .header-block-list-item-3 {
    display: flex;
    width: 24px;
    height: 24px;
  }

  .header-block-list-item__span {
    font-size: 13px;
  }

  .header-block-wrapper-title-h1 {
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    padding: 0 25px 11.5px;
  }

  .header-block-wrapper {
    padding: 33px 0;
  }

  .header-block-wrapper-text {
    display: none;
  }

  .header-block-wrapper-text-2 {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding: 14.5px 15px 27px;
  }

  .header-block-wrapper-btn {
    width: 160.34px;
    height: 38px;
    font-size: 16px;
    padding: 9px 28.7px;
    margin-top: 25px;
  }
}